
<h4>{{ gridWatch.stamp}}</h4>
<div class="well">
    <h4>Power Generated</h4>
    <div>
        <span>{{gridWatch.power.value}}</span> 
        <span>{{gridWatch.power.units}}</span>
    </div>
    <div>{{gridWatch.power.level}}</div>
</div>    
<div class="well">
    <h4>Emmisions</h4>
    <div>
        <span>{{gridWatch.emissions.value}}</span> 
        <span>{{gridWatch.emissions.units}}</span>
    </div>
    <div class="progress">
      <div class="bar bar-success" style="width: 35%;"></div>
      <div class="bar bar-warning" style="width: 20%;"></div>
      <div class="bar bar-danger" style="width: 10%;"></div>
    </div>
</div>

<table class="table table-bordered table-condensed">
    <thead>
        <tr class="success">
            <th>Source</th>
            <th>Power</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="type in gridWatch.powerByType">
            <td>{{type.kind}}</td>
            <td>{{type.power}}</td>
            <td><i class="icon-chevron-right"></i></td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-condensed">
    <thead>
        <tr class="success">
            <th>Power Plant</th>
            <th>Output</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="plant in gridWatch.powerByPlant.nuclear">
            <td>{{plant.name}}</td>
            <td>{{plant.output}}</td>
            <td>{{plant.capacity}}</td>
        </tr>
    </tbody>
</table>
            
